<header class="header">
    <h1>{{ title }}</h1>
    
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/what">[404 #1]</a>
    <a href="/help/units">[404 #2]</a>
</header>
